script(type='text/ng-template', id='built-with.jade')
.modal-content
	.modal-body
		.row
			h3.lg-label.text-center BUILT WITH:
		.row
			img.logos.text-center(src="images/mean-stack.png")

		.row
			.col-xs-3
				p.text-center.sm-label MONGO DB
			.col-xs-3
				p.text-center.sm-label EXPRESS.JS
			.col-xs-3
				p.text-center.sm-label ANGULAR.JS
			.col-xs-3
				p.text-center.sm-label NODE.JS




