.container-fluid
	//-for demo only
	//- .row
	//- 	.col-md-4
	//- 		div.my-progress(round-progress max="max" current="current" color="#45ccce" bgcolor="#eaeaea" radius="100" stroke="10" semi="false" rounded="false" clockwise="false" responsive="true" iterations="100" animation="easeInOutQuart")
	//- 	.col-md-4
	//- 	.col-md-4
	.row(ng-controller="ModalCtrl")

		//- Budget & Profile? Column
		.col-md-4
			//- .date-block
			//- 	h1.inverse-title {{date | date:'medium'}}
			.budget-block
				h2.inverse-title BUDGETS
				.divider-inverse
				.row.ex-pad2
					.col-xs-6
						p.sm-label-budget total project budget
					.col-xs-6
						h2.budget-lg.pull-right {{totalProj | currency : symbol : fractionSize }}
				.row.ex-pad2
					.col-xs-6
						p.sm-label-budget total shopping budget
					.col-xs-6
						h2.budget-lg.pull-right {{totalShop | currency : symbol : fractionSize }}
				.row.ex-pad2
					.col-xs-6
						p.sm-label-budget total budget
					.col-xs-6
						h2.budget-lg.pull-right {{totalShop+totalProj | currency : symbol : fractionSize }}
			.quote-block
				p.quote
					span.quotations " 
					| The only time you should ever look back is to see how far you've come.
					span.quotations.pull-right " 
				p.author.pull-right - Unknown Author

		//- Projects Column
		.col-md-4.gutters
			.row.form-group
				button#updateData.btn.btn-custom-project(type="button" ng-click="openProject()") add project

			.row.max-height
				accordion(close-others="oneAtATime" )
					accordion-group(ng-repeat="project in projects track by $index | orderBy:'-priority'" is-open="status.open") 
						.row
							.col-xs-6
								h2.budget-lg {{project.budget | currency : symbol : fractionSize }}
								p.sm-label budget
						//- .row
						//- 	.col-xs-4
						//- 		p.budget-sm {{project.budget | currency : symbol : fractionSize }}
						//- 		p.sm-label total budget
						//- 	.col-xs-4
						//- 		p.budget-sm {{project.task.taskCost | currency : symbol : fractionSize }}
						//- 		p.sm-label budget spent


						.row
							.col-xs-offset-1
								.col-xs-5
									p.sub-title TASKS
								//- .col-xs-5
								//- 	p.sub-title.pull-right SPENT
							.col-xs-10.col-xs-offset-1.divider
								//- p {{ getTotalCheckedItems(task) }}

						.row(ng-repeat="task in project.tasks track by $index")
							.col-xs-6.col-xs-offset-1
								div.checkbox(ng-if="task.text" ng-model="task.complete")
									<label ng-class="{'active': task.complete}"><input ng-model="task.complete" ng-click="toggleCheckedProj($index, project)"  type="checkbox" > {{task.text}} </label>
							//- .col-xs-4
							//- 	edit-in-place(ng-click="editInPlace(task.taskCost)" value="task.taskCost")
								//- p {{task.taskCost | currency : symbol : fractionSize}}

							//-{{project.task.taskValue[task]}} 
							//-ng-click="progress(project.task.taskValue[task])"
							.row(ng-if="!task.text")
								.col-xs-10.col-xs-offset-1
									div.input-group
										input.form-control(ng-model="task.text" placeholder="task")
										.input-group-addon.btn-success(ng-click="pushTask(project, task)") ok
										.input-group-addon.btn-danger(type="button" ng-click="project.tasks.splice($index, 1)" aria-label="Remove") x

						.row.ex-pad-sm
							.col-xs-10.col-xs-offset-1
								button.btn.add-btn-custom(type="button" ng-click="addProjectTask(project)") add task

						.row.ex-pad-sm
							.col-xs-10.col-xs-offset-1
								ul.nav
									li
										button.btn.delete-link(type="button" ng-click="projects.splice($index, 1)" aria-label="Remove") Remove Project


						//- .col-xs-1
							//- button.btn.btn-danger(type="button" ng-click="newProject.task.splice($index, 1)" aria-label="Remove") x

						accordion-heading
							.row
								.col-xs-6
									h2.title {{project.name}}
								.col-xs-6
									i.pull-right.ex-pad.glyphicon(ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}")
							//- .row
							//- 	.col-xs-12
							//- 		progressbar(max="project.tasks.length" value="progress(getTotalCheckedItems(task.complete.length))" class="bar-custom")
							//- 			span(style='color: rgba(255, 255, 255, 0.7); white-space:nowrap; font-size:11px;') {{ (getTotalCheckedItems(task)/project.tasks.complete.length)*100 | number:0 }}%




		//- Shopping Lists & Quote Column
		.col-md-4
			
			.row.form-group
				button.btn.btn-custom-list(type="button" ng-click="openList()") add shopping list

			.row.max-height
				accordion(close-others="oneAtATime" )
					accordion-group(ng-repeat="list in lists track by $index" is-open="status.open") 
						.row
							.col-xs-6
								h2.budget-lg {{list.budget | currency : symbol : fractionSize }}
								p.sm-label budget
						.row
							.col-xs-offset-1
								p.sub-title ITEMS
							.col-xs-10.col-xs-offset-1.divider
						.row(ng-repeat="task in project.tasks track by $index")
							.col-xs-6.col-xs-offset-1
								div.checkbox(ng-if="task.text" ng-model="task.complete")
									<label ng-class="{'active': task.complete}"><input ng-model="task.complete" ng-click="toggleCheckedProj($index, project)"  type="checkbox" > {{task.text}} </label>

						.row(ng-repeat="item in list.items track by $index")
							.col-xs-10.col-xs-offset-1
								div.checkbox(ng-if="item.text" ng-model="item.complete")
									<label ng-class="{'active': item.complete}"><input ng-model="item.complete" ng-click="toggleCheckedList($index, list)"  type="checkbox" > {{item.text}} </label>
	
								.input-group(ng-if="!item.text")
									input.form-control(ng-model="item.text" placeholder="item")
									.input-group-addon.btn-success(ng-click="pushItem(list, item)") ok
									.input-group-addon.btn-danger(type="button" ng-click="list.items.splice($index)" aria-label="Remove") x
						.row.ex-pad-sm
							.col-xs-10.col-xs-offset-1
								button.btn.add-btn-custom(type="button" ng-click="addListItem(list)") add item
						.row.ex-pad-sm
							.col-xs-10.col-xs-offset-1
								ul.nav
									li
										button.btn.delete-link(type="button" ng-click="lists.splice($index, 1)" aria-label="Remove") Remove List


								//- .col-xs-1
									//- button.btn.btn-danger(type="button" ng-click="newProject.task.splice($index, 1)" aria-label="Remove") x
						accordion-heading
							.row
								.col-xs-6
									h3.title {{list.name}}
								.col-xs-6
									i.pull-right.glyphicon.ex-pad2(ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}")


			