script(type='text/ng-template', id='new-project.jade')
.modal-content
	.modal-body
		h1 New Project:

		//- .col-sm-9.col-md-7.col-lg-6
		form(ng-submit="createProject()") 
			.form-group
				input.form-control(ng-model="newProject.name" placeholder="Name")

			.form-group
				select.form-control(ng-model="newProject.priority" ng-options="option.val as option.name for option in [{ name: 'High Priority', val : 3 }, { name: 'Medium Priority', val : 2 }, { name: 'Low Priority', val: 1 }]")
					option(value="") Select Priority
			
			.form-group.input-group
				.input-group-addon $
				input.form-control(ng-model="newProject.budget" placeholder="Budget")
				.input-group-addon .00

			.form-group
				textarea.form-control(rows="6" ng-model="newProject.tasks" placeholder="Tasks (One task per line)\nTask 1\nTask 2\nTask 3")


			.form-group
				button.btn.cancel-btn(type="button" ng-click="cancel()" ) cancel
				button.btn.success-btn.pull-right(type="submit") submit

